#
# Systemd service to show live training notes
#
# Runs on port 8000 of the node.
#
[Unit]
Description=Training Live Notes
After=multi-user.target

[Service]
User=jupyter-anand
Group=jupyter-anand
Type=simple
Restart=always
WorkingDirectory=/opt/training/book
ExecStart=quarto preview --port 4444
Environment="PATH=/opt/tljh/user/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"

[Install]
WantedBy=multi-user.target
